// $primary-color: #fb6e51;
// $secondary-color: #3bae71;
// $title-color: #4c4c4c;

* {
    font-family: "PT Sans", sans-serif;
}

.v-icon {
    color: white;
}

.centraliza {
    display: flex;
    justify-content: center;
    align-items: center;
}

.espacamentoEntreEl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    border-radius: 50%;
    color: white;
}


@media (min-width: 1264px){
    .container {
        max-width: 1312px;
    }
}
