@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap");
* {
  font-family: 'PT Sans', sans-serif;
}

.v-icon {
  color: white;
}

.centraliza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.namePage {
  color: #616161;
  font-family: "Allura", cursive;
  font-size: 50px !important;
  font-weight: 500;
}

.nameBtn {
  color: #f8d2a1 !important;
}

.cor-letra {
  color: #616161;
  font-weight: 100;
}

.frame {
  -webkit-box-shadow: 0 0 15px #ddd;
          box-shadow: 0 0 15px #ddd;
}

.btnSubmit .v-btn__content {
  color: #b38b57;
}

.btnFilter {
  background-color: white !important;
  border: 1px solid #b38b57 !important;
}

.btnFilter .v-btn__content {
  color: #b38b57;
}

.title {
  color: #deb887 !important;
  font-size: 25px !important;
  font-family: "Allura", cursive !important;
}

.navbar {
  /* color: #444240; */
  color: #b38b57;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), color-stop(black), to(#deb887));
  background-image: linear-gradient(to bottom, black, black, black, black, black, black, black, #deb887);
}

.lugarDoBody {
  margin: 0;
  background-size: auto;
}

.lugarDoBody .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 32px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-perspective: 500px;
          perspective: 500px;
}

.credit-card {
  width: 300px;
  height: 170px;
  position: relative;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
}

.credit-card:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.credit-card:hover .back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.credit-card .face {
  border: 1px solid #ffffff;
  border-radius: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.credit-card .face .card-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
}

.credit-card .face .card-field span:first-child {
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 1px;
}

.credit-card .face .card-field span:last-child {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 4px;
}

.credit-card .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.credit-card .front .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  width: 100%;
  position: absolute;
  top: 0px;
}

.credit-card .front .top img {
  margin-right: 16px;
  width: 32px;
  height: 32px;
}

.credit-card .front .top span {
  line-height: 32px;
}

.credit-card .front .bottom {
  padding: 16px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.credit-card .front .bottom .card-number {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 8px;
}

.credit-card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.credit-card .back .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: absolute;
  top: 24px;
}

.credit-card .back .top .card-line {
  width: 100%;
  height: 24px;
  background: #3a3a3a;
}

.credit-card .back .top #card-name {
  margin: 8px 16px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 6px;
}

.credit-card .back .top .card-number {
  margin: 0px 16px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 6px;
}

.credit-card .back .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  width: calc(100% - 32px);
  position: absolute;
  bottom: 0px;
}

.credit-card .back .bottom .card-field {
  margin-right: 20px;
}

.credit-card .back .bottom img {
  position: absolute;
  right: 16px;
  bottom: 12px;
  width: 32px;
  height: 32px;
}
/*# sourceMappingURL=main.css.map */